body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 30%;
}
.logo-div {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.navbar {
  display: flex;
  width: 100%;
}
.navbar-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.navbar-li {  
  text-align: center;
  font-family: 'Allan', cursive;
  font-size: 20pt;
  margin: 0rem 4rem 0rem 4rem;
  color: #474040;
  text-decoration: none solid rgb(71, 64, 64);
  letter-spacing: 1px;
  font-variant: small-caps;
  padding: 1rem;
}
.navbar-li:hover {

  background-color: #c44741;
  background-size: cover;
  color: gainsboro;
  transition: 0.25s ease-in-out;
}
.logo-heading {
  display: flex;
  justify-content: center;
  font-family: Stint Ultra Condensed;
  font-size: 20px;
  color: #100d0d;
  font-weight: 100;

  letter-spacing: 3px;
}
.body-heading {
font-family: Stint Ultra Condensed;
font-size: 30px;
color: #100d0d;
letter-spacing: 10px;
font-variant: small-caps;
text-align: right;
font-weight: 100;
margin-top: 15%;
}
input {
  border-style: none;
  border-bottom: 1px grey;
}
.body {
  height: 60%;
  display: flex;
  justify-content: center;
}